/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 02/22/23 09:20am
	Version: 0.4
Updated on
	Version: 0.4.5

Description:
	Css for journey page
*/
#content .buttons.section
{
	width: 100%;

	padding: 20px 0px;
	
	display: flex;
	
	overflow-x: auto;
}
#content .buttons.section
{
	border-bottom: 1px solid #ddd;
}
#content .buttons .button,
.page .recordsWrapper .pageButtons .button
{
	max-width: 200px;

	overflow-x: unset;
}
#content .buttons.section .button:first-child,
.page .recordsWrapper .pageButtons .button:first-child
{
	margin-left: auto;
}
#content .buttons.section .button:last-child,
.page .recordsWrapper .pageButtons .button:last-child
{
	margin-right: auto;
}
.page .recordsWrapper h2
{
	margin-bottom: 0px;
	padding-bottom: 5px;
	border-bottom: 0px;
}
.page .recordsWrapper .pageButtons
{
	width: 100%;

	padding: 5px 0px 10px 0px;
	border-bottom: 1px solid #ddd;

	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

@media screen and (max-width: 400px) {
	#content .buttons,
	.page .recordsWrapper .pageButtons
	{
		flex-direction: column;
		align-items: center;

		overflow-x: unset;
	}
	#content .buttons.section .button,
	.page .recordsWrapper .pageButtons .button
	{
		width: 100%;

		margin-left: 0px;
		margin-bottom: 5px;

		overflow-x: auto;
	}
	#content .buttons.section .button:first-child,
	.page .recordsWrapper .pageButtons .button:first-child
	{
		margin-left: 0px;
	}
	#content .buttons.section .button:last-child,
	.page .recordsWrapper .pageButtons .button:last-child
	{
		margin-right: 0px;
	}

}