/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 02/22/23 09:20am
	Version: 0.4
Updated on
	Version: 0.4.4

Description:
	Css for journey page
*/
#content .buttons.section
{
	width: 100%;

	padding: 20px 0px;
	
	display: flex;
	
	overflow-x: auto;
}
#content .buttons.section
{
	border-bottom: 1px solid #ddd;
}
#content .buttons .button
{
	max-width: 200px;

	overflow-x: unset;
}
#content .buttons.section .button:first-child
{
	margin-left: auto;
}
#content .buttons.section .button:last-child
{
	margin-right: auto;
}
@media screen and (max-width: 400px) {
	#content .buttons
	{
		flex-direction: column;
		align-items: center;

		overflow-x: unset;
	}
	#content .buttons.section .button
	{
		width: 100%;

		margin-left: 0px;
		margin-bottom: 5px;

		overflow-x: auto;
	}
	#content .buttons.section .button:first-child
	{
		margin-left: 0px;
	}
	#content .buttons.section .button:last-child
	{
		margin-right: 0px;
	}

}