/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 01/10/23 04:47pm
	Version: 0.3.2
Updated on
	Version: 0.3.2

Description:
	Css for Setup page
*/
#content .progress
{
	width: 100%;

	margin-bottom: 15px;
	border-radius: 15px;
	font-size: 14px;
	border: 1px solid #ddd;
	
	background-color: #e7e7e7;
}
#content .progress .bar
{
	min-width: min-content;

	padding: 5px 10px;
	border-radius: 15px;

	transition: width 1s;
}
#content .progress .bar.blue
{
	background-color: #225aa1;
	border: 1px solid #2664b1;
	color: #e7e7e7;
}
#content .pages
{
	width: 100%;
}
#content .pages .page
{
	width: 100%;
}
#content .pages .page h2
{
	width: 100%;

	text-overflow: unset;
	overflow-x: auto;
	white-space: nowrap;
}
#content .pages .page .description
{
	width: 100%;

	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 16px;

	color: #666;
}
#content .pages .page .pageContent
{
	width: 100%;

	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	display: flex;
	align-items: center;
	flex-direction: column;
}
#content .pages .page .navigationButtons
{
	width: 100%;
	
	padding: 10px;
	
	display: flex;
	justify-content: end;
}
#profilePicturePage .imageWrapper
{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}
#profilePicturePage .imageWrapper .imageHolder
{
	width: 128px;
	height: 128px;

	border: 1px solid #ddd;
	border-radius: 64px;

	overflow: hidden;
	box-sizing: unset;
}
#map
{
	width: 100%;
	height: 300px;
}
#map *:not(.pointer)
{
	float: none;
}
#map .pointer
{
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);

	width: 20px;
	height: 20px;

	border-radius: 10px;
	border: 3px solid #cb2a2a;

	z-index: 2;
}
#locationPage .inputReason
{
	margin: 5px 0px;
}
#locationPage .button
{
	width: 100%;
	
	margin-top: 10px;
}
#complete .description
{
	text-align: center;
}
#complete .buttons
{
	width: 100%;

	display: flex;
	justify-content: center;
}