/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 02/26/23 08:34
	Version: 0.5
Updated on
	Version: 0.5

Description:
	Css for search page
*/
#content .tools
{
	width: 100%;

	padding: 20px;
	border-bottom: 1px solid #ddd;
}
#content .tools form button
{
	margin-left: 0px;
}