/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 02/14/23 05:04pm
	Version: 0.3.4
Updated on
	Version: 0.3.6

Description:
	Css for account page
*/
.section .content
{
	width: 100%;
}