/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 01/10/23 05:44pm
	Version: 0.1
Updated on
	Version: 0.2

Description:
	General Css for all pages
*/
@font-face
{
	font-family: 'Roboto';
	src: url(/Pwa/BikeMaster/Assets/Fonts/Roboto/Roboto-Regular.ttf);
}
html
{
	font-family: 'Roboto';
	user-select: none;
}
body
{
	width: 100vw;
	min-width: 130px;
	
	margin: 0px;
	padding: 0px;

	background-color: #f7f7f7;
	color: #333;
}
*
{
	box-sizing: border-box;
	float: left;
}
a
{
	text-decoration: none;
	
	color: #333;
}
p
{
	margin: 0px;
}
h1
{
	width: 100%;
	height: auto;

	margin: 0px;
	padding: 10px;
	font-size: 25px;

	font-weight: 400;
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;

	color: #333;
}
h2
{
	width: 100%;
	height: auto;
	margin: 0px;
	font-size: 23px;

	font-weight: 400;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	color: #444;
}
h3
{
	width: 100%;
	height: auto;
	margin: 0px;
	font-size: 20px;

	font-weight: 400;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;

	color: #505050;
}
#content
{
	width: 100%;

	padding: 20px;
	padding-top: 0px;
}