/*
Developer: Ondrej Novotny
Contact: contact.bike@novotnyondrej.com

Created on
	Date: 02/20/23 09:31pm
	Version: 0.3.5
Updated on
	Version: 0.4.4

Description:
	Css for any types of  records
*/
#content .recordsWrapper
{
	width: 100%;
}
#content .recordsWrapper h2
{
	width: 100%;

	margin-bottom: 10px;
	padding: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;

	display: flex;
	justify-content: center;
}
#content .recordsWrapper .records
{
	width: 100%;

	display: flex;
	flex-direction: column;
}
#content .recordsWrapper .records .record
{
	width: 100%;
	max-width: 600px;

	margin-left: auto;
	margin-right: auto;
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}
#content .recordsWrapper .records .record.friend,
#content .recordsWrapper .records .record.friendRequest,
#content .recordsWrapper .records .record.journey .information
{
	display: flex;
	justify-content: space-between;
}
#content .recordsWrapper .records .record.friend .iconWrapper,
#content .recordsWrapper .records .record.friendRequest .iconWrapper
{
	max-width: 48px;
	min-width: 48px;

	display: flex;
	align-items: center;
}
#content .recordsWrapper .records .record.friend .iconWrapper .profilePicture,
#content .recordsWrapper .records .record.friendRequest .iconWrapper .profilePicture
{
	max-width: 100%;

	border-radius: 24px;
	border: 1px solid #ddd;
}
#content .recordsWrapper .records .record.friend .information,
#content .recordsWrapper .records .record.friendRequest .information,
#content .recordsWrapper .records .record.journey .information .general
{
	width: 100%;

	margin: 0px 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
#content .recordsWrapper .records .record.friend .information .username,
#content .recordsWrapper .records .record.friendRequest .information .username,
#content .recordsWrapper .records .record.journey .information .general .title
{
	font-size: 20px;
	margin-bottom: 3px;
 
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	word-break: break-all;
}
#content .recordsWrapper .records .record.friend .information .description,
#content .recordsWrapper .records .record.friendRequest .information .description,
#content .recordsWrapper .records .record.journey .information .general .description
{
	width: auto;

	font-size: 13px;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	word-break: break-all;
	
	color: #666;
	font-style: italic;
}
#content .recordsWrapper .records .record.friend .buttons,
#content .recordsWrapper .records .record.friendRequest .buttons,
#content .recordsWrapper .records .record.journey .information .buttons
{
	display: flex;
	justify-content: end;
	flex-direction: row;
}
#content .recordsWrapper .records .record.journey
{
	display: flex;
	flex-direction: column;
}
#content .recordsWrapper .records .record.journey .map
{
	max-width: 500px;
	width: 100%;
	height: 200px;

	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
#content .recordsWrapper .records .record.journey .information
{
	width: 100%;

	margin-top: 5px;
}
#content .recordsWrapper .records .record.journey .miniDetails
{
	width: 100%;

	padding: 5px;

	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
}
#content .recordsWrapper .records .record.journey .miniDetails div
{
	margin-top: 10px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	
	color: #666;
}
#content .recordsWrapper .records .record.journey .miniDetails div:first-child
{
	margin-left: auto;
}
#content .recordsWrapper .records .record.journey .miniDetails div:last-child
{
	margin-right: auto;
}
#content .recordsWrapper .records .record.journey .miniDetails div:not(:first-child)
{
	border-left: 1px solid #ddd;
}
#content .recordsWrapper .noResults
{
	width: 100%;
	
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 20px;

	text-align: center;
	color: #666;
}